


*
body {
  font-family: "Computer Modern Serif";
  font-size: 16pt;

dd { text-indent:50px;}


h2 small 
  font-size: medium;
  font-family: "Times New Roman;

}
.schedule { width:80%; border-collapse:collapse;}
.schedule td { padding:8px; border:#999 1px solid; }
.odd_week
{ 
background-color: lavender;
}

.schedule
{
margin:auto;
width:80%;
}
.schedule table, th,
{
border: 1px solid black;
}
th
{
background-color:black;
color:white;
}

.week {
  -webkit-transform: rotate(-90deg);
}

h2
{
border-top-style:solid;
border-bottom-style:outset;
text-transform: uppercase;
font-size: 100%;
}



.subtitle {
  text-align: center;
  letter-spacing: 0.15em;
}


/* ----------------------------------------------------------------- */
/* The scary stuff below is just to get the right font loaded up.    */
/* Don't worry about it. Write your CSS rules above the dotted line. */
/* I started them off for you with a rule about the body tag.        */

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunrm.eot');
  src: url('fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunrm.woff') format('woff'),
     url('fonts/cmunrm.ttf') format('truetype'),
     url('fonts/cmunrm.svg#cmunrm') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbx.eot');
  src: url('fonts/cmunbx.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunbx.woff') format('woff'),
     url('fonts/cmunbx.ttf') format('truetype'),
     url('fonts/cmunbx.svg#cmunbx') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunti.eot');
  src: url('fonts/cmunti.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunti.woff') format('woff'),
     url('fonts/cmunti.ttf') format('truetype'),
     url('fonts/cmunti.svg#cmunti') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbi.eot');
  src: url('fonts/cmunbi.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunbi.woff') format('woff'),
     url('fonts/cmunbi.ttf') format('truetype'),
     url('fonts/cmunbi.svg#cmunbi') format('svg');
  font-weight: bold;
  font-style: italic;
}
